div
    div.modal-header
        | Ready
    div.modal-body
        div.message
            p(ng-bind-html="message")

    div.modal-footer
        button.btn.btn-primary(ng-click='start()') Start
        button.btn.btn-primary(ng-click='cancel()') Cancel
