div
    div.modal-header
        | Results
    div.modal-body
        p
            | Total: {{problems.length}}
        p
            | Right: {{correct}}
        p
            | Wrong: {{problems.length - correct}}

    div.modal-footer
        //-button.btn.btn-primary(ng-click='newQuiz()') New Quiz
        button.btn.btn-primary(ng-click='ok()') OK
